{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="https://kit.fontawesome.com/1988c58e10.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content%}

<div class="container">
    
    <h1> HI Welcome to art world site !</h1>
</div>
<div class="container bg-personal">
    
    <div class="sidebar">
        <h2>Arts</h2>
        <p>Here are  types of arts :</p>
        <ul>
          <li>Nature Arts</li>
          <li>Sculpture</li>
          <li>Music</li>
          <li>Painting</li>
        </ul>
      </div>

    <img src="static/art.jpeg" alt="banner" />
    <p class="intro">Art is a diverse range of human activities in creating visual, auditory or performing artifacts, expressing the author's imaginative, conceptual ideas, or technical skill, intended to be appreciated for their beauty or emotional power.</p>

    
    
   
</div>


    {% endblock%}